In [1]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kirtisailinaidu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kirtisailinaidu/nltk_data...

True

In [3]:
pip install -U textblob

Collecting textblob
  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: nltk>=3.8 in ./anaconda3/lib/python3.11/site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in ./anaconda3/lib/python3.11/site-packages (from nltk>=3.8->textblob) (8.0.4)
Requirement already satisfied: joblib in ./anaconda3/lib/python3.11/site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in ./anaconda3/lib/python3.11/site-packages (from nltk>=3.8->textblob) (2022.7.9)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.11/site-packages (from nltk>=3.8->textblob) (4.65.0)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 626.3/626.3 kB 11.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: textblob
Successfully installed textblob-0.18.0.post0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

/Users/kirtisailinaidu/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
data = pd.read_csv('/Users/kirtisailinaidu/Downloads/Neural networks/Alphabets_data.csv',encoding="latin-1")
data.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [8]:
#Number of Words in single tweet
data['word_count'] = data['letter'].apply(lambda x: len(str(x).split(" ")))
data[['letter','word_count']].head()

  letter  word_count
0      T           1
1      I           1
2      D           1
3      N           1
4      G           1

In [9]:
#Number of characters in single tweet
data['char_count'] = data['letter'].str.len() ## this also includes spaces
data[['letter','char_count']].head()

  letter  char_count
0      T           1
1      I           1
2      D           1
3      N           1
4      G           1

In [10]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['letter'].apply(lambda x: avg_word(x))
data[['letter','avg_word']].head()

  letter  avg_word
0      T       1.0
1      I       1.0
2      D       1.0
3      N       1.0
4      G       1.0

In [11]:
stop = stopwords.words('english')

data['stopwords'] = data['letter'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['letter','stopwords']].head()

  letter  stopwords
0      T          0
1      I          0
2      D          0
3      N          0
4      G          0

In [12]:
data['hastags'] = data['letter'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['letter','hastags']].head()

  letter  hastags
0      T        0
1      I        0
2      D        0
3      N        0
4      G        0

In [13]:
data['numerics'] = data['letter'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['letter','numerics']].head()

  letter  numerics
0      T         0
1      I         0
2      D         0
3      N         0
4      G         0

In [14]:
data['upper'] = data['letter'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['letter','upper']].head()

  letter  upper
0      T      1
1      I      1
2      D      1
3      N      1
4      G      1

In [15]:
data['letter'] = data['letter'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['letter'].head()

0    t
1    i
2    d
3    n
4    g
Name: letter, dtype: object

In [16]:
data['letter'] = data['letter'].str.replace('[^\w\s]','')
data['letter'].head()

0    t
1    i
2    d
3    n
4    g
Name: letter, dtype: object

In [17]:
stop = stopwords.words('english')
data['letter'] = data['letter'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['letter'].head()

0
1
2
3    n
4    g
Name: letter, dtype: object

In [18]:
freq = pd.Series(' '.join(data['letter']).split()).value_counts()[:10]
freq

u    813
p    803
x    787
n    783
q    783
f    775
g    773
e    768
b    766
v    764
Name: count, dtype: int64

In [19]:
freq = list(freq.index)
data['letter'] = data['letter'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['letter'].head()

0
1
2
3
4
Name: letter, dtype: object

In [20]:
freq = pd.Series(' '.join(data['letter']).split()).value_counts()[-10:]
freq

l    761
r    758
w    752
j    747
k    739
c    736
h    734
z    734
Name: count, dtype: int64

In [21]:
freq = list(freq.index)
data['letter'] = data['letter'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['letter'].head()

0
1
2
3
4
Name: letter, dtype: object

In [22]:
data['letter'][:5].apply(lambda x: str(TextBlob(x).correct()))

0
1
2
3
4
Name: letter, dtype: object

In [24]:
import nltk
from textblob import TextBlob
import pandas as pd

nltk.download('punkt')

words = TextBlob(data['letter'][1]).words
print(words)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kirtisailinaidu/nltk_data...

[]

[nltk_data]   Unzipping tokenizers/punkt.zip.

In [25]:
TextBlob(data['letter'][1]).words

WordList([])

In [26]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['letter'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0
1
2
3
4
Name: letter, dtype: object

In [27]:
from textblob import Word

In [28]:
data['letter'] = data['letter'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['letter'].head()

0
1
2
3
4
Name: letter, dtype: object

In [29]:
TextBlob(data['letter'][0]).ngrams(2)

[]

In [30]:
tf1 = (data['letter'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

/var/folders/p0/vrfqq_vd7qs5cnv6g_1n5vnw0000gn/T/ipykernel_16612/4252847815.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  tf1 = (data['letter'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
/var/folders/p0/vrfqq_vd7qs5cnv6g_1n5vnw0000gn/T/ipykernel_16612/4252847815.py:1: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  tf1 = (data['letter'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

  words  tf
0         1

In [31]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['letter'].str.contains(word)])))

tf1

  words  tf  idf
0         1  0.0

In [32]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

  words  tf  idf  tfidf
0         1  0.0    0.0

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd


data['letter'] = data['letter'].fillna('').astype(str)
data = data[data['letter'].str.strip() != '']

print(data['letter'].head())

tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', stop_words='english', ngram_range=(1, 1))

try:
    vect = tfidf.fit_transform(data['letter'])
    print(vect)
except ValueError as e:
    print(f"Error: {e}")
    vect = None

if vect is None or vect.shape[0] == 0:
    print("Trying with stop_words=None")
    tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', stop_words=None, ngram_range=(1, 1))
    try:
        vect = tfidf.fit_transform(data['letter'])
        print(vect)
    except ValueError as e:
        print(f"Error: {e}")

Series([], Name: letter, dtype: object)
Error: empty vocabulary; perhaps the documents only contain stop words
Trying with stop_words=None
Error: empty vocabulary; perhaps the documents only contain stop words

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd


data['letter'] = data['letter'].fillna('').astype(str)
data = data[data['letter'].str.strip() != '']

print(data['letter'].head())

bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1), analyzer='word', stop_words='english')

try:
    data_bow = bow.fit_transform(data['letter'])
    print(data_bow)
except ValueError as e:
    print(f"Error: {e}")
    data_bow = None

if data_bow is None:
    print("Trying with stop_words=None")
    bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1), analyzer='word', stop_words=None)
    try:
        data_bow = bow.fit_transform(data['letter'])
        print(data_bow)
    except ValueError as e:
        print(f"Error: {e}")

Series([], Name: letter, dtype: object)
Error: empty vocabulary; perhaps the documents only contain stop words
Trying with stop_words=None
Error: empty vocabulary; perhaps the documents only contain stop words

In [41]:
data['letter'][:5].apply(lambda x: TextBlob(x).sentiment)

Series([], Name: letter, dtype: object)

In [42]:
data['sentiment'] = data['letter'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['letter','sentiment']].head()

Empty DataFrame
Columns: [letter, sentiment]
Index: []

In [43]:
! pip install future

Requirement already satisfied: future in ./anaconda3/lib/python3.11/site-packages (0.18.3)

In [44]:
pip install -U future

Requirement already satisfied: future in ./anaconda3/lib/python3.11/site-packages (0.18.3)
Collecting future
  Downloading future-1.0.0-py3-none-any.whl.metadata (4.0 kB)
Downloading future-1.0.0-py3-none-any.whl (491 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 491.3/491.3 kB 9.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: future
  Attempting uninstall: future
    Found existing installation: future 0.18.3
    Uninstalling future-0.18.3:
      Successfully uninstalled future-0.18.3
Successfully installed future-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [45]:
import codecs
import re
import copy
import collections
import pandas as pd
import numpy as np
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import WordPunctTokenizer
import matplotlib
    
%matplotlib inline

In [46]:
from __future__ import division
import os
from nltk.corpus import twitter_samples

In [47]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kirtisailinaidu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [48]:
from nltk.corpus import stopwords

In [52]:
import nltk
from nltk.corpus import twitter_samples

# Download the twitter_samples corpus if not already downloaded
nltk.download('twitter_samples')

# Load the positive, negative, and other tweets from the twitter_samples corpus
positive_tweets = twitter_samples.strings('positive_tweets.json')
negative_tweets = twitter_samples.strings('negative_tweets.json')
text = twitter_samples.strings('tweets.20150430-223406.json')

# Print a few samples for verification
print("Positive tweets sample:")
print(positive_tweets[:5])

print("\nNegative tweets sample:")
print(negative_tweets[:5])

print("\nRandom tweets sample:")
print(text[:5])

[nltk_data] Downloading package twitter_samples to
[nltk_data]     /Users/kirtisailinaidu/nltk_data...
[nltk_data]   Unzipping corpora/twitter_samples.zip.

Positive tweets sample:
['#FollowFriday @France_Inte @PKuchly57 @Milipol_Paris for being top engaged members in my community this week :)', '@Lamb2ja Hey James! How odd :/ Please call our Contact Centre on 02392441234 and we will be able to assist you :) Many thanks!', '@DespiteOfficial we had a listen last night :) As You Bleed is an amazing track. When are you in Scotland?!', '@97sides CONGRATS :)', 'yeaaaah yippppy!!!  my accnt verified rqst has succeed got a blue tick mark on my fb profile :) in 15 days']

Negative tweets sample:
['hopeless for tmr :(', "Everything in the kids section of IKEA is so cute. Shame I'm nearly 19 in 2 months :(", '@Hegelbon That heart sliding into the waste basket. :(', '“@ketchBurning: I hate Japanese call him "bani" :( :(”\n\nMe too', 'Dang starting next week I have "work" :(']

Random tweets sample:
['RT @KirkKus: Indirect cost of the UK being in the EU is estimated to be costing Britain £170 billion per year! #BetterOffOut #UKIP', 'VIDEO: Sturgeon on post-election deals http://t.co/BTJwrpbmOY', 'RT @LabourEoin: The economy was growing 3 times faster on the day David Cameron became Prime Minister than it is today.. #BBCqt http://t.co…', 'RT @GregLauder: the UKIP east lothian candidate looks about 16 and still has an msn addy http://t.co/7eIU0c5Fm1', "RT @thesundaypeople: UKIP's housing spokesman rakes in £800k in housing benefit from migrants.  http://t.co/GVwb9Rcb4w http://t.co/c1AZxcLh…"]

In [53]:
from nltk.corpus import twitter_samples

positive_tweets = twitter_samples.strings('positive_tweets.json')
negative_tweets = twitter_samples.strings('negative_tweets.json')
text = twitter_samples.strings('tweets.20150430-223406.json')

In [54]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kirtisailinaidu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [55]:
from nltk.corpus import twitter_samples

positive_tweets = twitter_samples.strings('positive_tweets.json')
negative_tweets = twitter_samples.strings('negative_tweets.json')
text = twitter_samples.strings('tweets.20150430-223406.json')
tweet_tokens = twitter_samples.tokenized('positive_tweets.json')

In [56]:
from nltk.corpus import twitter_samples

positive_tweets = twitter_samples.strings('positive_tweets.json')
negative_tweets = twitter_samples.strings('negative_tweets.json')
text = twitter_samples.strings('tweets.20150430-223406.json')
tweet_tokens = twitter_samples.tokenized('positive_tweets.json')[0]

print(tweet_tokens[0])

#FollowFriday

In [57]:
!pip3 install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in ./anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in ./anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import time
from datetime import datetime
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

In [59]:
no_pages = 2

def get_data(pageNo):  
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    r = requests.get('https://www.amazon.in/gp/bestsellers/books/ref=zg_bs_pg_'+str(pageNo)+'?ie=UTF8&pg='+str(pageNo), headers=headers)#, proxies=proxies)
    content = r.content
    soup = BeautifulSoup(content)
    #print(soup)

    alls = []
    for d in soup.findAll('div', attrs={'class':'a-section a-spacing-none aok-relative'}):
        #print(d)
        name = d.find('span', attrs={'class':'zg-text-center-align'})
        n = name.find_all('img', alt=True)
        #print(n[0]['alt'])
        author = d.find('a', attrs={'class':'a-size-small a-link-child'})
        rating = d.find('span', attrs={'class':'a-icon-alt'})
        users_rated = d.find('a', attrs={'class':'a-size-small a-link-normal'})
        price = d.find('span', attrs={'class':'p13n-sc-price'})

        all1=[]

        if name is not None:
            #print(n[0]['alt'])
            all1.append(n[0]['alt'])
        else:
            all1.append("unknown-product")

        if author is not None:
            #print(author.text)
            all1.append(author.text)
        elif author is None:
            author = d.find('span', attrs={'class':'a-size-small a-color-base'})
            if author is not None:
                all1.append(author.text)
            else:    
                all1.append('0')

        if rating is not None:
            #print(rating.text)
            all1.append(rating.text)
        else:
            all1.append('-1')

        if users_rated is not None:
            #print(price.text)
            all1.append(users_rated.text)
        else:
            all1.append('0')     

        if price is not None:
            #print(price.text)
            all1.append(price.text)
        else:
            all1.append('0')
        alls.append(all1)    
    return alls

In [ ]:
results = []
for i in range(1, no_pages+1):
    results.append(get_data(i))
flatten = lambda l: [item for sublist in l for item in sublist]
df = pd.DataFrame(flatten(results),columns=['Book Name','Author','Rating','Customers_Rated', 'Price'])
df.to_csv('/Users/kirtisailinaidu/Downloads/Neural networks/Alphabets_data.csv', index=False, encoding='utf-8')